<h2>Select GitHub Project</h2>
<div class="ui divided items">
  <%= for project <- @projects do %>
  <div class="item">
    <div class="middle aligned content">
      <span class="header"><%= project["name"] %></span>
        <a class="ui right floated primary button">
          Select
          <i class="right chevron icon"></i>
        </a>
    </div>
  </div>
  <% end %>
</div>
