<h1>Hello, <%= @user.name %></h1>
<p>
  To set a new password for your Juggler Account please visit the following link: <br />
  <a href="<%= new_password_link(@conn, @user) %>"><%= new_password_link(@conn, @user) %></a>
</p>
