<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Juggler - elixir based deployment tool</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <%= render "top_menu.html", conn: @conn %>
      </div>
    </div>

    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui middle aligned stackable container">
        <%= render "flash.html", conn: @conn %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div> <!-- /pusher -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
