<div class="jumbotron">
  <h2>Welcome to Juggler</h2>
  <p class="lead">A productive web deployment tool that<br /> is based on Elixir.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="<%= project_path(@conn, :index) %>">Projects</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <h4>Help</h4>
  </div>
</div>
